<table class="w-full text-sm text-left rtl:text-right text-gray-500">
  <thead class="text-xs text-gray-700 uppercase bg-gray-200">
    <tr>
      <% headers.each do |header| %>
        <th scope="col" class="px-6 py-3"><%= header %></th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <%= yield %>
  </tbody>
</table>